@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.content {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.greeting {
    text-align: center;
    margin-top: 30%;
    color: white;
}

.brand {
    font-family: 'Pacifico', cursive;
}

.register, .login {
    align-items: center;
}



