@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

body, html {
 margin: 0;
 height: 100%;
 font-family: 'Nunito', sans-serif;
}

body {
    background-image: url('https://images.unsplash.com/photo-1579613832125-5d34a13ffe2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}