<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Produce</title>
</head>
<body>

    <% items.forEach(function(item) { %>
        <h1><%= item.name %></h1>
        <p><%= item.price %></p>
        <img src=<%= item.imageurl %> height="200px" />
        <% }) %>
    
</body>
</html>