.item-container {
    background-color: white;
    padding: 30px;
    box-shadow: 20px 20px 50px #1a4441, 
            -30px -30px 60px #00ffff;
    border-radius: 10px;
}

.form-inline {
    width: 27% !important;
}

.input-group {
    align-items: center !important;
}

.clear-search {
    display: inline;
    cursor: pointer;
}

.items {
    margin-left: 5%;
}

.no-results {
    text-align: center;
    color: lightgray
}